 body{
   	font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
   }
   #header{
    width:80%;
    margin:auto;
   	height:40px;
   	margin-top:30px;
	margin-bottom: 30px;
   }
   #header img{
	border-right:2px solid rgb(200,200,200);
	height: 40px;
	float: left;
	cursor: pointer;
	padding-right:20px;
	margin-right:20px;
   }
   #header span{
   	font-size: 20px;
   	line-height: 40px;
   }
   #header a{
   	text-decoration: none;
   	cursor:pointer;
   	line-height: 40px;
   }
   #subheader{
   	background-color: rgb(95,143,193);
   	height:40px;
   	width:100%;
   	margin-bottom: 20px;
   	border-radius: 5px;
   	line-height: 40px;
   	border:1px solid rgb(240,240,240);
   	color: white;
   }
	#container{
    width:80%;
    margin:auto;
		height:auto;
		border:1px solid rgb(240,240,240);
		border-radius: 5px;
	}
	#carousel-example-generic{
		width:80%;
		margin-left: 10%;
		margin-bottom:20px;
	}
	.lala{
    	width: 100%;
	}
	#container img{
		height:500px;
	}
  .foot{
  width: 45%;
  margin-left: 27.5%;
  text-align: center;
  height:50px;
  margin-top:50px;
  bottom: 0;
  border-top:1px solid black;
}
